.section-content{
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.section-content h3 {
    text-align: center;
    margin-bottom: 20px;
}
.section-content h4 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.section-content p {
    white-space: pre-line; 
}
.sec{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 14px; 
}
